{% extends "base.html" %}
{% block content %}
    <div class="fullscreen-container">
        <div class="content-box">
            <h1>Junior Python developer</h1>
            <h1 class="mb-4">Data Analytics Enthusiast</h1>
            <div class="text-left">
                <ul>
                    <li>Strong background in media analytics, data analysis, and data storytelling.</li>
                    <li>Proven ability to drive business decision-making, communicating data-driven insights.</li>
                    <li>Passionate about AI, machine learning, and data science.</li>
                    <li>Runner, cat and dog lover, sci-fi fan (as you have obviously noticed 😉)</li>
                </ul>
            </div>
            <h1 class="mb-4">Skills</h1>

            <!-- Columns -->
            <div class="row text-center">
                <div class="col-md-6">
                    <h3>Hard</h3>
                    <ul class="list-unstyled">
                        <li>Python</li>
                        <li>SQL, PostgreSQL</li>
                        <li>GitHub, Docker</li>
                        <li>FastAPI, Django</li>
                        <li>Redis, MongoDB</li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h3>Soft</h3>
                    <ul class="list-unstyled">
                        <li>Critical Thinking</li>
                        <li>Problem Solving</li>
                        <li>Attention to detail</li>
                        <li>Stakeholder Management</li>
                        <li>Teamwork</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
