{% extends "base.html" %}
{% block content %}
    <div class="fullscreen-container">
        <div class="content-box">
            <h1 class="page-title">Projects</h1>
            <p class="text-center">are not deployed separately, so GitHub links only for now</p>

            <div class="projects-container">
                {% for project in projects %}
                    <div class="project-card">
                        <h2 class="project-title">{{ project.title }}</h2>
                        <ul class="project-description">
                            {% for line in project.description.splitlines %}
                                <p>{{ line }}</p>
                            {% endfor %}
                        </ul>
                        <p><strong>Tech Stack:</strong> {{ project.stack }}</p>
                        <div class="text-center">
                            <a href="{{ project.link }}" target="_blank" class="btn btn-primary btn-center">
                                View on GitHub
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
